<div class="container p-4">
<h2 class="gradient-text">Create Product</h2>
<form (ngSubmit)="onSubmit()" enctype="multipart/form-data" class="d-flex " style="flex-direction:column; gap: 10px;">
  <div class="form-group">
    <label class="fw-bold">Name:</label>
    <input type="text" class="form-control" [(ngModel)]="product.name" name="name" required />
  </div>

  <div class="form-group">
    <label class="fw-bold">Price:</label>
    <input type="number" class="form-control" [(ngModel)]="product.price" name="price" required />
  </div>

  <div class="form-group">
    <label class="fw-bold">Description:</label>
   <textarea class="form-control" [(ngModel)]="product.description" name="description" required></textarea>
  </div>

  <div class="form-group">
    <label class="fw-bold">Status:</label>
    <select class="form-control" [(ngModel)]="product.status" name="status" required>
      <option value="" disabled selected>Select status</option>
      <option value="Pending">Pending</option>
      <option value="Available">Available</option>
      <option value="Sold">Sold</option>
    </select>
  </div>

  <div class="form-group">
    <label class="fw-bold">Product Image:</label>
    <input type="file" class="form-control" (change)="onFileSelected($event)" />
  </div>

  <div *ngIf="imagePreview" class="mb-3">
    <p class="fw-bold">Image Preview:</p>
    <img [src]=" imagePreview" alt="Image Preview" width="200" />
  </div>
  <div class="form-group">
    <label class="fw-bold">Category:</label>
    <select [(ngModel)]="selectedCategoryId" name="category" required class="form-control">
      <option value="">-- Select Category --</option>
      <option *ngFor="let cat of categories" [value]="cat.id">{{ cat.name }}</option>
    </select>
  </div>
<div class="d-flex" style="gap: 5px;"> 
  <button type="submit" class="btn btn-primary" style="width: 15%;" id="createProduct">Create Product</button> 
  <a routerLink="/products" class="btn btn-secondary">Back to List</a>
  </div>
</form>





</div>
